In [24]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

# Menampilkan data
Cryotherapy.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

In [25]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

# Menampilkan informasi data
Cryotherapy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  90 non-null     int64
 1   age                  90 non-null     int64
 2   Time                 90 non-null     float64
 3   Number_of_Warts      90 non-null     int64
 4   Type                 90 non-null     int64
 5   Area                 90 non-null     int64
 6   Result_of_Treatment  90 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 5.0 KB

In [27]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

# Mengecek apakah ada deret ang kosong ?
Cryotherapy.empty

False

In [28]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

# Melihat ukuran dari data
Cryotherapy.size

630

In [30]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

#menentukan variable independent dan variabel dependent

#variable independent
x = Cryotherapy.drop(['Result_of_Treatment'”'], axis = 1)
x.head()

SyntaxError: invalid character '“' (U+201C) (Temp/ipykernel_16640/1778525260.py, line 10)