In [24]:
import pandas as pd
import numpy as np

#1 input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

#2 show data
Cryotherapy.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

In [25]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

#3 show information data
Cryotherapy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  90 non-null     int64
 1   age                  90 non-null     int64
 2   Time                 90 non-null     float64
 3   Number_of_Warts      90 non-null     int64
 4   Type                 90 non-null     int64
 5   Area                 90 non-null     int64
 6   Result_of_Treatment  90 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 5.0 KB

In [27]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

#4 is empty data? 
Cryotherapy.empty

False

In [8]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

#5 see the size of data
print(" size of data ")
Cryotherapy.size

 size of data

630

In [32]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

# define dependent variable and independent variable

#6 independent variable
x = Cryotherapy.drop(['Result_of_Treatment'], axis = 1)
x.head()

   sex  age   Time  Number_of_Warts  Type  Area
0    1   35  12.00                5     1   100
1    1   29   7.00                5     1    96
2    1   50   8.00                1     3   132
3    1   32  11.75                7     3   750
4    1   67   9.25                1     1    42

In [33]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv('Cryotherapy2.csv')

#FIND VARIABLE INDEPENDET AND DEPENDENT

#7 dependentvariable 
y = Cryotherapy['Result_of_Treatment']
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Result_of_Treatment, dtype: int64

In [4]:
import pandas as pd
import numpy as np

# input data
Cryotherapy=pd.read_csv("Cryotherapy.csv")
# Menampilkan data
Cryotherapy.head()

# menampilkan informasi data
Cryotherapy.info()

# Mengecek apakah ada deret yang kosong
Cryotherapy.empty

# Melihat ukuran dari data
Cryotherapy.size

# Variabel independen
x = Cryotherapy.drop(["Result_of_Treatment"], axis = 1)
x.head()

# Variabel dependen
y = Cryotherapy["Result_of_Treatment"]
y.head()

# Import train_test_split function
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
nbtrain = modelnb.fit(x_train, y_train)
nbtrain.class_count_

# Menentukan hasil prediksi dari x_test
y_pred = nbtrain.predict(x_test)
y_pred

# Menentukan probabilitas hasil prediksi
nbtrain.predict_proba(x_test)

# import confusion_matrix model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

# Merapikan hasil confusion matrix
y_actual1 = pd.Series([1, 0,1,0,1,0,1,0,1,0,0,1,1,0,1,1,0,0], name = "actual")
y_pred1 = pd.Series([1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1], name = "prediction")
df_confusion = pd.crosstab(y_actual1, y_pred1)
df_confusion

# Menghitung nilai akurasi dari klasifikasi naive bayes 
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

SyntaxError: EOL while scanning string literal (Temp/ipykernel_6248/2054460011.py, line 5)